body {
    background-color: MistyRose;
    color: Sienna;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: MistyRose;
    color: Sienna;
    font-family: Arial;
    font-size: 14pt;
    margin: 5px;
    font-weight: bold;
    margin: 10px 20px 45px;
}

header {
    background-color: Sienna;
    color: mistyrose;
    font-family: Arial;
    padding: 10px; 
    font-size: 14pt;
}

footer {
    background-color: Sienna;
    color: mistyrose;
    padding: 5px; 
    font-size: 12pt;
    text-align: right;
    font-style: italic;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    text-decoration: none;
    /*background-color: MistyRose;*/
    color: Sienna;
    transition: 1s 0,5s;
}

a:link {
    text-decoration: none;
    color: sienna;
}

a:visited {
    text-decoration: underline;
    color: sienna;
}

a:hover {
    color: rgb(222, 97, 83);
    text-decoration: none;
    transition: 0s;
    text-shadow: 4px 3px 3px rgba(181, 93, 83, 0.3);
    font-style: oblique;
}

a:active {
    color: black;
    opacity: 0.2;
    transition: 0s;
}

div.menu {
    border: 7px double;
    border-radius: 30px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: rgba(250, 128, 114, 0.3);
    box-shadow: 4px 3px 3px rgba(181, 93, 83, 0.3);
}