body {
    background-color: MistyRose;
    color: Sienna;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: MistyRose;
    color: Sienna;
    font-family: Arial;
    font-size: 14pt;
    margin: 5px;
    font-weight: bold;
}

header {
    background-color: Sienna;
    color: mistyrose;
    font-family: Arial;
    padding: 10px; 
    font-size: 14pt;
}

footer {
    background-color: Sienna;
    color: mistyrose;
    padding: 5px; 
    font-size: 12pt;
    text-align: right;
    font-style: italic;
}

a {
    text-decoration: none;
    background-color: MistyRose;
    color: Sienna;
}

a:link {
    text-decoration: none;
    color: sienna;
}

a:visited {
    text-decoration: underline;
    color: sienna;

}

a:hover {
    color: salmon;
    text-decoration: underline;
}

a:active {
    color: black;
    opacity: 0.7;
}